<html>
<head>
<meta charset="utf-8">
{{> analytics/widget this }}
{{> style/widget this }}

</head>
<body>
<h2 id="error-message-head">{{this.error_status}} - {{this.error_message}}</h2>

<h5 id="error-message-description">Need help? Check out our <a href="https://github.com/TampaDevs/api.jobs.tampa.dev">documentation.</a></h5>

<p id="powered-by"><a href="https://www.tampadevs.com/">Tampa Devs</a> Jobs Widget - Powered by <a href="https://github.com/TampaDevs/api.jobs.tampa.dev">Cloudflare</a> & <a href="https://jobs.tampa.dev/">Job Boardly</a></p>
</body>
</html>